{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Inscription{% endblock %}

{% block content %}

    <h1>Inscription validée</h1>

    <p>Félicitation, vous pouvez laisser des commentaires et les gérer depuis votre profil.</p>

{% endblock %}
