{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Page non trouvée{% endblock %}
{% block content %}


    <div class="jumbotron mt-3">
        <h1 class="display-4"> Page non trouvée</h1>
    </div>

    <div class="card my-3 p-3">
        La page que vous recherchez n'a pas été trouvée.
    </div>
{% endblock %}


