{% extends "base.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}
{% block content %}

    <div class="jumbotron mt-3">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue sur l'interface d'administration du blog</p>
        <hr class="my-4">
        <a class="btn btn-outline-primary btn-lg" href="/admin" role="button">Accueil</a>
        <a class="btn btn-outline-primary btn-lg" href="/admin/post" role="button">Articles</a>
        <a class="btn btn-outline-primary btn-lg" href="/admin/user" role="button">Utilisateurs</a>
        <a class="btn btn-outline-primary btn-lg" href="/admin/comment" role="button">Commentaires</a>
    </div>

    {% block adminContent %}
    {% endblock %}

{% endblock %}