{% extends "admin/admin-base.html.twig" %}
{% block title %}{{ parent() }} Administration{% endblock %}


{% block adminContent %}


    <div class="card-deck mt-3">
        <div class="card">
            <img src="/img/post.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Articles</h5>
                <p class="card-text">Il y a actuellement :
                    <ul>
                        <li>X articles publiés</li>
                        <li>X articles en brouillon</li>
                    </ul>
                    <a href="/admin/post" class="btn btn-primary">Gérer les articles</a>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/img/user.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Utilisateurs</h5>
                <p class="card-text">Il y a actuellement :
                    <ul>
                        <li>X membres en attente de validation</li>
                        <li>X membres validés</li>
                        <li>X membres bannis</li>
                    </ul>
                    <a href="/admin/user" class="btn btn-primary">Gérer les utilisateurs</a>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="/img/comment.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Commentaires</h5>
                <p class="card-text">Il y a actuellement :
                    <ul>
                        <li>X commentaires en attente de validation</li>
                        <li>X commentaires publiés</li>
                        <li>X commentaires modérés</li>
                    </ul>
                    <a href="/admin/comment" class="btn btn-primary">Gérer les commentaires</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
