{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Accueil{% endblock %}
{% block content %}


    <div class="jumbotron mt-3">
        <div class="row d-flex align-items-center">
            <div class="col-md-3 d-flex justify-content-center">
                <img src="/img/profil.jpg" alt="profil" class="img-fluid img-rounded">
            </div>
            <div class="col-md-9 text-center text-md-left">
                <h1 class="display-4">"Bienvenue chez " . $moi . " !"</h1>
                <p class="lead">$moi = "Damien Adam";</p>
                <hr class="my-4">
                <p>Prenez un chewing-gum Emile !</p>
                <a class="btn btn-primary btn-lg" href="/post" role="button">Tout les articles</a>
                <a class="btn btn-success btn-lg" href="/pdf/profil.pdf" target="_blank" role="button">Voir mon profil (.pdf)</a>
            </div>
        </div>
    </div>

    <hr>

    <h2>Contactez-moi !</h2>
    <p>Faisons connaissance :)</p>
    <div class="row">
        <div class="offset-md-2 col-md-8">
            {{ contactForm|raw }}
        </div>
    </div>

    <hr>

    <h2>$moi . " sur les internets";</h2>

    <div class="row justify-content-center py-4">
        <div class="col-sm-2 d-flex justify-content-center"><a href="https://www.linkedin.com/in/damien-adam-1aaa93128" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a></div>
        <div class="col-sm-2 d-flex justify-content-center"><a href="https://gitlab.com/DamienAdam" target="_blank"><i class="fab fa-3x fa-gitlab"></i></a></div>
        <div class="col-sm-2 d-flex justify-content-center"><a href="https://steamcommunity.com/profiles/76561198043068267" target="_blank"><i class="fab fa-3x fa-steam"></i></a></div>
    </div>

    <hr>

    <h2>Articles récents</h2>

    <div class="card-deck mb-4">
        {% for post in posts %}

            <div class="card">
                <div class="card-body w-100">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">le {{ post.updatedAt|date('d/m/Y') }} par {{ post.username }}</h6>
                    <p>{{ post.excerpt }}</p>
                    <a href="/post/{{ post.id }}" class="card-link">Voir l'article en entier</a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}


