{% extends "base.html.twig" %}
{% block title %}{{ parent() }} Mentions légales{% endblock %}
{% block content %}


    <h1>Mentions légales</h1>

    <h2>Informations générales</h2>

    <p>En utilisant ce site vous accepter de vous soumettre purement et simplement aux lois françaises concernant l'identité sur internet et ainsi qu'aux lois informatiques et libertés en vigueur.</p>
    <p>Vous avez un accès à vos données personnelles pour vérification, modification, destruction, manifestation oy ! Sur simple demande via le formulaire de contact.</p>
    <p>Si quelqu'un s'oppose à cette union qu'il se lève maintenant ou se taise à jamais.</p>

    <h2>Informations sur les biscuits</h2>

    <p>C'est bien simple aucune donnée personnelle n'est enregistrée ou conservée si vous ne créé pas de compte, si vous en créer un merci de lire attentivement les informations fournies</p>

    <p>Les sessions de navigation sont anonymes si il n'y a pas d'authentification, voir annonce légale lors de l'inscription pour plus de détails sur ce sujet</p>

    <h2>Informations médico-légales</h2>

    <p>Si vous ne parler pas latin, c'est bien dommage pour la suite</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci at consectetur, deserunt dolorem, eum illo ipsam ipsum iusto minus mollitia natus nobis pariatur perferendis reprehenderit rerum soluta tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci at consectetur, deserunt dolorem, eum illo ipsam ipsum iusto minus mollitia natus nobis pariatur perferendis reprehenderit rerum soluta tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci at consectetur, deserunt dolorem, eum illo ipsam ipsum iusto minus mollitia natus nobis pariatur perferendis reprehenderit rerum soluta tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci at consectetur, deserunt dolorem, eum illo ipsam ipsum iusto minus mollitia natus nobis pariatur perferendis reprehenderit rerum soluta tenetur.</p>

    <h2>Contenus interdits</h2>

    <p>Tous contenus prohibés : incitation à la haine, racisme, révisionnisme, terrorisme, et pleins de trucs en -isme (sauf séisme ça c'est ok) sont interdits, si j'en choppe un je le balance à la mumu !</p>

    <p>Amusez-vous quand même, blagues de mauvais gout tolérées :p</p>
{% endblock %}


