{% extends "base.html.twig" %}
{% block title %}{{ parent() }} {{ post.title }}{% endblock %}
{% block content %}


    <div class="jumbotron mt-3">
        <h1 class="display-4">{{ post.title }}</h1>
        <p>
            le {{ post.createdAt|date('d/m/Y') }} par {{ post.username }}<br>
            <em>mise à jour le {{ post.updatedAt|date('d/m/Y') }} </em>
            <p>{{ post.excerpt }}</p>
        </p>
    </div>
    {% autoescape %}
        <div class="card my-3 p-3">{{ post.content|raw }}</div>
    {% endautoescape %}

    {% if comments is empty %}
        <div class="card mb-3">
            <div class="card-body text-center">
                Soyez le premier à commenter cet article !
                {% if session.user is not defined %}
                    Vous devez être <a href="/login">connecté</a> pour laisser un commentaire
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if session.user is defined %}
        <div class="card mb-3">
            <div class="card-body">
            {% if session.user.statusName is same as('valid') %}
                {{ commentForm|raw }}
            {% elseif session.user.statusName is same as('banned') %}
                <p class="text-center">Vous avez été bannis, vous ne pouvez plus laisser de commentaires</p>
            {% elseif session.user.statusName is same as('pending') %}
                <p class="text-center">Votre compte n'est pas encore validé, vous pourrez laisser un commentaire dès qu'il le sera !</p>
            {% endif %}
            </div>
        </div>
    {% endif %}

    {% if comments is not empty %}
        {% for comment in comments %}
            <div class="card my-3 p-3">
                <div class="row">
                    <div class="col-sm-2">
                        <h6>
                            {% if comment.username is not null %}
                                {{ comment.username }}
                            {% elseif comment.unregisteredUsername is not null %}
                                {{ comment.unregisteredUsername }}
                            {% else %}
                                utilisateur inconnu
                            {% endif %}
                        </h6>
                        <em>{{ comment.createdAt|date('d/m/Y') }}</em>
                    </div>
                    <div class="col-sm-10">{{ comment.content }}</div>
                </div>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


