<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/img/computer.png" />

        <title>{% block title %}Blog |{% endblock %}</title>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
              integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/custom.css">
    </head>

    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">I/O Blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Articles</a>
                        </li>
                        {% if session.user is not defined %}
                            <li class="nav-item">
                                <a class="nav-link" href="/signin">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login"><i class="fas fa-user"></i> Connexion</a>
                            </li>
                        {% endif %}
                        {% if session.user is defined %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i> {{ session.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/user"><i class="fas fa-address-card"></i> Profil</a>
                                    {%  if session.user.roleName is same as('admin') %}
                                        <a class="dropdown-item" href="/admin"><i class="fas fa-tools"></i> Administration</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container content">

            {% if session.alerts is not empty %}
                {% for alert in session.alerts %}
                    <div class="alert alert-{{ alert.type }} alert-dismissible fade show {% if loop.first %}mt-2{% endif %}" role="alert">
                        <strong>{{ alert.title|raw }}</strong> {{ alert.content }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}

            <!-- Sticky footer pusher -->
            <div class="push"></div>
        </div>

        <footer class="footer">
            <nav class="row h-75 justify-content-center align-items-center">
                <div class="col-md-6 text-right">
                    <a href="/legals" class="footer-link">mentions légales</a>
                </div>
                <div class="col-md-6 text-left">
                    {% if session.user is not defined %}
                        <a href="/login" class="footer-link">connexion</a>
                    {% endif %}
                    {% if session.user is defined %}
                        {%  if session.user.roleName is same as('admin') %}
                            <a href="/admin" class="footer-link">administration</a>
                        {% else %}
                            <a href="/user" class="footer-link">profil</a>
                        {% endif %}
                    {% endif %}
                </div>
            </nav>
        </footer>

        {%  block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>